body{
    background-color: #355f77;  
    ;
    font-family: 'Exo', sans-serif;
    /* border: red solid ; */
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff; 
  
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  
    
    background-image: linear-gradient(to right,#666, #333, #666);
    color: #fff; 
    padding: 10px 20px; 
  }
  

.principal{
    /* border: rgba(0, 0, 0, 0.831) solid; */
    width: 100%;
    padding: 40px 0 10px 0;
}

#texto1{
    background: linear-gradient(  rgba(2, 95, 138, 0.831), #d8eff7 , rgba(2, 95, 138, 0.831));
    

}

.principal #texto1{
    border: rgba(0, 0, 0, 0.831) solid;
   width: 40%;
   height: 350px;
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   padding-top: 10px;
   margin-left: 20%;
   
}

#texto1::placeholder{
    color: rgba(0, 0, 0, 0.831);
}

#texto1:hover {
    transition: 3s;
    font-size: 40px;
    background: linear-gradient(90deg, #025f8ad4, #d8eff7, rgba(2, 95, 138, 0.831));
  }

  #texto1:not(hover) {
    transition: 3s;
    font-size: 40px;
    background: linear-gradient(90deg, #025f8ad4, #d8eff7, rgba(2, 95, 138, 0.831));
  }
  

h2{
    color: rgb(255, 255, 255) ;
    font-style: oblique;
    font-size: 20px;
    margin-left: 20%;
    padding-top: 20px;
}

h2::before{
    content: " ⚠ ";
}

.botones {
    position: absolute;
    width: 40%;
    /* border: red solid; */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    /* border: #fff solid; */
    margin-top: -180px;
}

.botones .encriptar  {
    width: 30%;
    height: 50px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: #023f8ad4;
    margin-left: 15%;
    margin-bottom: 10px;
}

.botones .desencriptar{
    width: 30%;
    height: 50px;
    border-radius: 15px;
    color:  #023f8ad4;
    background-color: #c4cdd9d4;
    margin-left: 80px;
}

.reinicia{
    width: 30%;
    height: 50px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: #023f8ad4;
    margin-left: 220px;
}

.mostrarMensaje{
    width: 100%;
    border: rgb(255, 251, 0) solid;   
    padding-top: 40px;
    padding-bottom: 40px;
}

.principal .busqueda{
    position: absolute;
    margin-left: 73%;
    margin-top: -27%;
    width: 20%;
    height: 40%;
}

.principal #cambioEstado{
    position: absolute;
    margin-left: 70%;
    font-size: 26px;
    margin-top: -5%;
    font-weight: bold;
    color: #000000;
}

.principal #texto2{
    position: relative;
    margin-left: 67%;
    width: 30%;
    font-size: 20px;
    margin-top: -3%;
    background-color: #355f77;
    color: #ffffff;
    border: 1px solid #355f77;
    border-radius: 5px;
}

#texto2::placeholder{
   text-align: center;
   color: #ffffff;
}

/*? FOOTER */

.footer {
  width: 100%;
  height: 30px;
  font-size: 25px;
  padding-top: 70px;
  background-image: linear-gradient(to right,#666, #333, #666);
  color: #fff;
  text-align: center;
  /* border: yellow solid; */
}
